<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tournament</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header class="notMainHeader">
		<a href="#" class="logo">Logo<span>.</span></a>
		<ul class="navigation">
			<li><a href="/main#banner">Home</a></li>
			<li><a href="/main#about">About</a></li>
			<li><a href="/main#category">Category</a></li>
			<li><a href="/main#tournaments">Tournaments</a></li>
		</ul>
		<ul class="auth">
			<li><a href="/logout">Logout</a></li>
		</ul>
	</header>

	<section class="category" id="category">
		<div class="title">
			<h2 class="titleText">Almaty <span>F</span>ootball</h2>
			<p>Zhdem vseh</p>
			<p>Date: 2020-12-22 21:00:00</p>
			<p>Prize fund: 30$</p>
		</div>

		<div class="title">
			<a href="/main#banner" class="btn">Participate</a>
		</div>
	</section>
</body>
</html>